.movie-row {
	height: 64px;
	display: flex;
	flex-direction: row;

	border: 3px solid #B7AB99;
	border-radius: 3px;

	margin: 9px 0;
}

.movie-row .movie-image {
	width: 64px;
	height: 100%;
	margin-right: 14px;
}

.movie-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.movie-row .movie-details {
	flex-grow: 1;
	position: relative;
}

.movie-row .movie-details .movie-info {
	display: flex;
	flex-direction: row;
	align-items: center;

	height: 100%;

	position: relative;
	z-index: 1;
}

.movie-row .movie-details .vote-bar-container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: end;

	/* Hide the bar unless the vote is cast */
	visibility: hidden;
}

/* Show the bar when the vote is cast */
.voted .vote-bar-container {
	visibility: visible !important;
}

.vote-bar-container .vote-bar {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0; /* Same as height: 100% */

	/* Make the bar the same size as the vote button
	 * to make the transition more graceful */
	width: 55px;

	background-color: #B7AB99;

	transition: width 1s;
}

/* Transition to the */
.voted .vote-bar {
	width: unset;
}

.vote-bar-container .votes-text {
	color: #FFFFFF;
	width: 55px;
	text-align: center;

	/* Display on top of the bar */
	z-index: 2;
}

/* Make text selection invisible */
.movie-row *::selection {
	background: transparent;
}

.movie-row .movie-info .movie-title {
	flex-grow: 1;

	color: #91887A;
}